body {
  margin: 0;
  height: 100%;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
}
.App {
  min-height: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "menu main";
  grid-template-columns: auto 1fr;
  overflow: hidden;
}
